@model DebugLists
@{
    ViewData["Title"] = "Debug";
}

<h1>Debug</h1>
<table class="table">
    <caption style="caption-side: top">UserData</caption>
    <thead>
        <tr>
            <th scope="col">@Html.DisplayNameFor(model => model.userDatas[0].ID)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.userDatas[0].Username)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.userDatas[0].PasswordSalt)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.userDatas[0].IsManager)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.userDatas[0].Language)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.userDatas[0].Font)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.userDatas[0].FontSize)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.userDatas[0].BackgroundColor)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.userDatas[0].TextColor)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.userDatas[0].HighContrast)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.userDatas[0].DPI)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.userDatas[0].BoardIDs)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.userDatas[0].HomeBoardID)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.userDatas)
        {
            <tr>
                <th scope="row">@Html.DisplayFor(modelItem => item.ID)</th>
                <td>@Html.DisplayFor(modelItem => item.Username)</td>
                <td>@Html.DisplayFor(modelItem => item.PasswordSalt)</td>
                <td>@Html.DisplayFor(modelItem => item.IsManager)</td>
                <td>@Html.DisplayFor(modelItem => item.Language)</td>
                <td>@Html.DisplayFor(modelItem => item.Font)</td>
                <td>@Html.DisplayFor(modelItem => item.FontSize)</td>
                <td>@Html.DisplayFor(modelItem => item.BackgroundColor)</td>
                <td>@Html.DisplayFor(modelItem => item.TextColor)</td>
                <td>@Html.DisplayFor(modelItem => item.HighContrast)</td>
                <td>@Html.DisplayFor(modelItem => item.DPI)</td>
                <td>@Html.DisplayFor(modelItem => item.BoardIDs)</td>
                <td>@Html.DisplayFor(modelItem => item.HomeBoardID)</td>
            </tr>
        }
    </tbody>
</table>
