
@model User
@inject Localizer locale
@{
    ViewData["Title"] = locale["Main Page"];
    ViewData["AdditionalStyle"] = Model.GenerateStyle();
}
    <header>
        <nav class="navbar navbar-light" style="background-color: #497b9e; padding-top: 15px;">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <div class="btn-group d-flex justify-content-start" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-right: 10px;">
                        @locale["Boards"]
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        @foreach (var item in Model.Boards)
                        {
                            <a href="#" onclick="UpdateBoard(@item.ID,'@item.BoardName')">@item.BoardName</a>
                            <br />
                        }
                    </div>
                    <button type="button" class="btn btn-secondary ml-2 mr-2"><img src="~/images/add.png"></button>
                    <a class="btn btn-secondary" onclick="UpdateBoard('@Model.HomeBoard.ID','@Model.HomeBoard.BoardName')" role="button"><img src="~/images/Home.png"></a>
                </div>
            </div>
            <div class="p-3 mb-2 bg-light text-dark d-flex justify-content-center" id="boardName">@Model.HomeBoard.BoardName</div>
            <div class="btn-group" role="group" aria-label="Basic example" dir="ltr">
                <button type="button" onclick="SetFontSize(10)" class="btn btn-outline-dark">A+</button>
                <button type="button" onclick="SetFontSize(-10)" class="btn btn-outline-dark">A-</button>
            </div>
            @if (Model.IsManager || Model.IsPrimary)
            {
                <a href="/UserDatas" class="btn btn-warning">@locale["Manage"]</a>
            }
            <a href="/Home/Contact" class="btn btn-info"><font color="black">@locale["Contact Us"]</font></a>
            <a href="/UserPref/" class="btn btn-secondary">@locale["Settings"]</a>
            <div>
                <button type="button" class="btn btn-danger d-flex justify-content-end">@locale["Logout"]</button>
            </div>
        </nav>
    </header>
    <iframe id="boardView" src="/BoardView/" style="height: 80vh; width: 100vw;">
        @locale["No iframe support"]
    </iframe>

