
@model User
@inject Localizer locale
@{
    ViewData["Title"] = locale["User prefrences"];
    ViewData["CustomStyle"] = "/css/Userpref.css";
}
<!-- Don't touch the order of things so as not to lose responsiveness -->
<main class="d-flex justify-content-center">
    <form asp-action="Index">
        <div class="d-flex flex-column bd-highlight mb-3 border-right border-bottom border-left shadow p-3 mb-5 bg-white rounded">
            <div class="p-2 bd-highlight">
                @locale["Language:"]
                <select name="lang_pick">
                    @foreach (string lang in Localizer.Translations.AvailableTranslations)
                    {
                        @if (Model.Language != lang)
                        {
                            <option value="@lang">
                                @Localizer.Translations.GetString(lang, "lang-native") / @Localizer.Translations.GetString(lang, "lang-en")
                            </option>
                        }
                        else
                        {
                            <option value="@lang" selected>
                                @Localizer.Translations.GetString(lang, "lang-native") / @Localizer.Translations.GetString(lang, "lang-en")
                            </option>
                        }
                    }
                </select>
            </div>

            <div class="p-2 bd-highlight">
                @locale["Font:"]
                <input name="font_pick" type="text" value="@Model.Font" />
            </div>
            <div class="p-2 bd-highlight">
                @locale["Background color:"]
                <input name="bg_color" class="jscolor" value="@Model.BackgroundColor.ToString("X6")">
            </div>
            <div class="p-2 bd-highlight">
                @locale["Text color:"]
                <input name="tx_color" class="jscolor" value="@Model.TextColor.ToString("X6")">
            </div>
            <div class="p-2 bd-highlight">
                @locale["High contrast:"]
                <input type="checkbox" name="high_contrast" @(Model.HighContrast ? "checked" : "unchecked")>
            </div>
            <div class="p-2 bd-highlight">
                @locale["Dots per inch:"]
                <input name="dpi" type="number" value="@Model.DPI" />%
            </div>
            <div class="p-2 bd-highlight">
                @locale["Font size:"]
                <input name="font_size" type="number" value="@((int)Model.FontSize)" />%
            </div>
            <div class="p-2 bd-highlight d-flex justify-content-center">
                <input type="submit" class="btn btn-outline-dark" value="@locale["Save Prefrences"]" />
            </div>
        </div>
    </form>
</main>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}