@model LoginError
@inject Localizer locale
@{
    ViewData["Title"] = @locale["Login Page"];
    ViewData["CustomStyle"] = "/css/AdminLoginStyle.css";
}

<header><h1>Login</h1></header>
<article>
    <form asp-action="UserLogin">
        @locale["Username:"]
        <input type="text" name="username" placeholder="@locale["Enter your user name"]" @if (Model != null && Model.password_error) @Html.Encode($"value ={Model.username}")  class="styleinput" /> <br />
        @if (Model != null && Model.username_error)
        {
            <span style="color: red;">@locale["Invalid Username!"]</span><br />
        }
        @locale["Password:"]
        <input type="password" name="password" placeholder="@locale["Enter your password"]" class="styleinput" /> <br />
        @if (Model != null && Model.password_error)
        {
            <span style="color: red;">@locale["Invalid Password!"]</span><br />
        }
        <input type="submit" name="submit" value="@locale["Login"]" class="styleinput" />
    </form>
</article>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
