@model Board
@inject Localizer locale
@{
    if (Model != null && !string.IsNullOrEmpty(Model.BoardName))
        ViewData["Title"] = Model.BoardName;
    else
        ViewData["Title"] = locale["No board title"];
}
<script>
    /* Correct page width and height */
    var body = document.getElementById("page_body");
    body.style.width = "98vw";
    body.style.height = "80vh";
    body.style.fontSize = "@Model.FontSize.ToString()%";
</script>
@if (Model != null)
{
    <div style="background-color: #@Model.BackgroundColor.ToString("X6"); color: #@Model.TextColor.ToString("X6"); font-size: @Model.FontSize%;">

        @if (!string.IsNullOrEmpty(Model.BoardHeader))
        {
        <center><h4>@Model.BoardHeader</h4></center>
        }
        <div class="tile_container">
            @foreach (Tile tile in Model.Tiles)
            {
                <div style="padding: @Model.Spacing.ToString()%; background-color: #@tile.BackgroundColor.ToString("X6");" onclick="TileOnClick('@tile.ActionType','@tile.ActionContext','@tile.ID');">
                    <center>
                    @tile.TileText
                    </center>
                    <img id="@tile.ID" src="@tile.Source.Source" alt="@tile.Source.ImageName" style="width: 19.5vw; height:30vh;" />
                </div>
            }
        </div>
    </div>
}
else
{
    <h1>@locale["There isn't a board defined or the requested board cannot be accessed by the current user."]</h1>
}
