@model Board
@{
    ViewData["Title"] = "BoardViewer";
}
<script>
    /* Correct page width and height */
    document.getElementById("page_body").style.width = "100vw";
    document.getElementById("page_body").style.height = "80vh";
</script>
@if (Model != null)
{
    <div style="background-color: #@Model.BackgroundColor.ToString("X6"); color: #@Model.TextColor.ToString("X6"); font-size: @Model.FontSize%;">

        @if (!string.IsNullOrEmpty(Model.BoardHeader))
        {
        <center><h4>@Model.BoardHeader</h4></center>
        }
        <div class="tile_container">
            @foreach (Tile tile in Model.Tiles)
            {
                <div style="background-color: #@tile.BackgroundColor.ToString("X6");" onclick="TileOnClick('@tile.ActionType','@tile.ActionContext','@tile.ID');">
                    @tile.TileText<br />
                    <img id="@tile.ID" src="@tile.Source.Source" alt="@tile.Source.ImageName" style="width: 20vw; height:35vh" />
                </div>
                <br />
            }
        </div>
    </div>
}
else
{
    <h1>There isn't a board defined or the requested board cannot be accessed by the current user.</h1>
}
